body {
    background-color: #333333;
    color: white;
    font-family: Arial;
    text-align: center;
}
h1 {
    font-family: "Beleren Bold";
}
h2 {
    font-family: "Beleren Bold";
    text-align: left;
}
input.searchbar {
    width: 300px;
}
table {
    border-spacing: 10px;
    width: 75%;
}
div.results {
    text-align: left;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
