<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/cardinfo.css">
<style>
@font-face {
    font-family: "Beleren Bold";
    src:url("fonts/BELEREN-BOLD.woff") format("woff");
}
td {
    vertical-align: top;
}
</style>
</head>
<body>
<h1><a href="/">Magic: The Gathering Card Search</a></h1>
<div class="results">
<table align="center">
    <col width="250">
        <tr>
            <th colspan="2"><h2>Card Details</h2></th>
        </tr>
        <tr>
            <td style="vertical-align: top;"><img src="{{ artwork }}"></td>
            <td valign="top">
                <table>
                    <tr>
                        <td><b>Card Name:</b></td>
                        <td>{{ carddata.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Mana Cost:</b></td>
                        <td>{{ carddata.mana_cost }}</td>
                    </tr>
                    <tr>
                        <td><b>Type Info:</b></td>
                        <td>{{ carddata.type }}</td>
                    </tr>
                {% if carddata.subtypes %}
                    <tr>
                        <td><b>Subtype Info</b></td>
                        <td>{{ carddata.subtypes }}</td>
                    </tr>
                {% endif %}
                {% if carddata.power and carddata.toughness %}
                    <tr>
                        <td><b>P/T:</b></td>
                        <td>{{ carddata.power }} / {{ carddata.toughness }}</td>
                    </tr>
                {% endif %}
                {% if carddata.text %}
                    <tr>
                        <td><b>Card Rules Text:</b></td>
                        <td>{{ carddata.text.replace('\n', '<br>') }}</td>
                    </tr>
                {% endif %}
                {% if carddata.flavor %}
                    <tr>
                        <td><b>Card Flavor Text:</b></td>
                        <td>{{ carddata.flavor }}</td>
                    </tr>
                {% endif %}
                    <tr>
                        <td><b>Printing Information:</b></td>
                        <td><ul>
                            {% for printing in carddata.other_prints %}
                            <li>
                                <a href="/cardinfo?cardid={{carddata.other_prints[printing]}}">{{ printing }}</a>
                            </li>
                            {% endfor %}
                        </ul></td>
                    </tr>
                    <tr>
                        <td><b>Legal Formats:</b></td>
                        <td><ul>
                            {% for format in carddata.legal_formats %}
                            <li>
                                {{ format }}
                            </li>
                            {% endfor %}
                        </ul></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="2"><h2><br/>Related Cards</h2></th>
        </tr>
</table>
<table class="related" align="center">
    <tr>
        {% for card in relatedcards %}
        <td>
        <a href="/cardinfo?cardid={{ card.multiverseid }}"><img src="https://gatherer.wizards.com{{ card.external_artwork }}" height="200"></a>
        <br/><a href="/cardinfo?cardid={{ card.multiverseid }}">{{ card.name|truncate(16, true) }}</a>
        </td>
        {% endfor %}
    </tr>
</table>
<table align="center">
    <tr>
        <td>
            Related cards sourced from <a href="https://tappedout.net/">tappedout.net</a>
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>
</div>
</body>
</html>
