<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/cardinfo.css">
<style>
@font-face {
    font-family: "Beleren Bold";
    src:url("fonts/BELEREN-BOLD.woff") format("woff");
}
</style>
</head>
<body>
<h1><a href="/">Magic: The Gathering Card Search</a></h1>
<div class="results">
<table align="center">
<col width="250">
<tr>
<th colspan="2"><h2>Card Details</h2></th>
</tr>
<tr>
<td><img src="https://gatherer.wizards.com{{ carddata.external_artwork }}"></td>
<td valign="top">
<b>Card Name:</b> {{ carddata.name }}<br/>
<b>Mana Cost:</b> {{ carddata.mana_cost }}<br/><br/>
<b>Card Rules Text:</b> {{ carddata.text }}<br/>
<b>Card Flavor Text:</b> {{ carddata.flavor_text }}<br/>
</td>
</tr>
<tr>
<th colspan="2"><h2>Related Cards</h2></th>
</tr>
</table>
</div>
</body>
</html>
