<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/index.css">
<style>
@font-face {
    font-family: "Beleren Bold";
    src:url("fonts/BELEREN-BOLD.woff") format("woff");
}
</style>
<script src="/scripts/sanitize_query_text.js"></script>
<script src="/scripts/simple_input.js"></script>
</head>
<body onload="applySimpleInputSanitizer()">
    <br/>
    <br/>
<h1>Magic: The Gathering Card Search</h1>
<form action="advanced" method="GET">
    <input type="submit" value="Advanced...">
</form>
<br/>
<form id="searchForm" action="results" method="GET">
<table align="center">
<tr><td>
<input id="searchInput" class="searchbar" type="text" name="query" placeholder="Search...">
<input type="submit" value="Search">
</td></tr>
</table>
</form>
</body>
</html>
