<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/results.css">
<style>
@font-face {
    font-family: "Beleren Bold";
    src:url("fonts/BELEREN-BOLD.woff") format("woff");
}
</style>
</head>
<body>
<h1>Magic: The Gathering Card Search</h1>
<form action="results" method="GET">
<input class="searchbar" type="text" name="query" placeholder="Search...">
<input type="submit" value="Search">
</form>
<br/>
<form action="advanced" method="GET">
<input type="submit" value="Advanced...">
</form>
<br/>
<br/>
</body>
</html>
